@import url('https://db.onlinewebfonts.com/c/612638dc0d21b2135883b40205beb190?family=Akazan+W00+Bold'); 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;
}
/* Start Global Rules */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
    font-family: "Inter", sans-serif;
}
    a {
      text-decoration: none;
    }
    ul {
      list-style: none;
    }
    
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
      
      @media (min-width: 768px) {
        .container {
          width: 750px;
        }
      }
      
      @media (min-width: 992px) {
        .container {
          width: 970px;
        }
      }
      
      @media (min-width: 1200px) {
        .container {
          width: 1170px;
        }
      }

                                        /* navigation bar  */
.main-nav{
    flex-direction: row;
    text-align: center;
    background-color: #0B9586;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 100;
    position: relative;
    width: 100%;
    position: fixed;

}
.main-nav .container{
    display: flex;
    align-items: center;
    padding-right: 30px;
}
.logo{
    width: 100%;
    height: 54px;
    mix-blend-mode: multiply;
}
.nav-contact-info{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.nav-links{
    flex-grow: 1;
}
.nav-links a{
    text-decoration: none;
    color: white;
    margin: 8px;
    width: 110px;
    height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    transition: .4s ease;   

}
.nav-links a:hover , .hamburger-nav-links a:hover{
     background-color: hsl(173, 86%, 27%);
     box-shadow: 0 3px 0px -0.5px rgba(0, 0, 0, 0.308);
     font-weight: 500;
}

.active{
    background-color: hsl(173, 86%, 27%);
    box-shadow: 0 3px 0px -0.5px rgba(0, 0, 0, 0.308);
    font-weight: 500;
}
.call-us-number{
    font-weight: bold;
    font-size: 1.5rem;
    text-wrap: nowrap;
}

                                        /* burger nav bar  */
.hamburger-nav-links{
    top: 7%;
    right: 2%;
    height: 44%;
    width: 250px;
    z-index: 999;
    background-color: #0B9586;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius:12px ;
}
.hamburger-nav-links a{
    color: white;
    width: 100%;
    margin-bottom: 2%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    transition: .4s ease;
}
.icon img{  
    width: 10%;
    position: absolute;
    top : 17%;
    right: 0;
    display: none;
}
.close-hamburger{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px){

    .nav-links{
        display: none;
    }
    .nav-contact-info , .call-us-number{
        font-size: 20px;
    }
    .nav-contact-info {
            margin-left: 40%;
    }
    .section1-content img {
        width: 40%;
    }
    .logo {
        width: 90px;
        height: 40px;
    }
    .icon img{
        display: block;
    }


}
@media (min-width: 768px) and (max-width: 991px){
    .nav-links{
        display: none;
    }
    .icon img{
        display: block;
    }
    .nav-contact-info {
        margin-left: 40%;
    }
    .icon img{  
        width: 10%;
        position: absolute;
        top : 5%;
        right: 0;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .nav-contact-info , .call-us-number{
        font-size: 13px;
    }
}
@media(max-width : 512px){
    .nav-contact-info {
        margin-left: 10%;
    }
}
                                    /* section 1 */
.section1{
    
    width: auto;    
    background-image: url(./pics/solar-panels-meadow\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 11%;
    padding-bottom: 152px;
    
}

.section1 .container{
    color: white;
}
.section1-content h1{
    font-size: 3.25rem;
    margin-top: 82px;
    font-weight: 600;
}
.section1 p{
    font-weight: 500;
    padding: 24px 0px;
    font-size: 1.25rem;
    line-height: 30px;
}
button{
    border: none;
    width: 173px;
    height: 41px;
    border-radius: 25px;
    color: #2A3334;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-family: 'inter';
    background-color: #FFBB1C;
    cursor: pointer;

}
.cards:hover{
    transform: translateY(-7px);
}
.cards{
    transition: .4s ease;
}
#call-us-button{
    background-color: #3CAB90;
    margin-right: 24px;
    color: white;
    transition: .3s ease;
}
#call-us-button:hover{
    background-color: #5cccb0 ;
    letter-spacing: 2px;
}
#req-call-back-button{
    background-color: #FFBB1C;
    color: #2A3334;
    width: 208px;
    transition: .3s ease;
}
#req-call-back-button:hover , .section3 .container button:hover , .sub-button:hover{
    background-color: #ffd062 ;
    letter-spacing: 2px;
}
@media(max-width : 768px){
    .section1-content{
        margin-top: 87px;
    }
    .section1-content h1{
        font-size: 20px;
        margin-top: 50px;
    }
    .section1-content p{
        font-size: 9px;
        line-height: 12px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .section1 {
        padding-bottom: 10px;
        height: 400px;
    }
    .section1 button{
        width: 22%;
        height: 18px;
        font-size: 7px;
    }
    #req-call-back-button{
        width: 30%;
    }
}
                                        /* section 2 */
.section2{
    width: auto;
    padding-top: 80px;
   
}
.section2 .container{
    display: flex;
    gap: 70px;
}
 .section2 h1{
    color: #101828;
    font-size: 2.625rem;
    font-weight: 600;
} 
.section2 p , .section4 p {
    color: #475467;
    margin-top: 24px;
    line-height: 25px;
    font-size: 1rem;
    font-weight: 400;

}
.section2-images{
    width: 469px;
    position: relative;
    height: 100%;
}

.section2-frame{
    position: absolute;
    bottom: 10%;
    left: -12%;
} 
.section2 ul{
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-top: 50px;
    font-size: 1.25rem;
    list-style: none;
    text-wrap: nowrap;
    
}
.section2 ul li {
    color: #101828;
    font-weight: 600;
}
.section2 ul span {
    font-family: "Akazan W00 Bold"; 
    color: #84BD3A;
    letter-spacing: 3px;
    font-weight: 300;
}
@media (max-width: 768px){
    .section2 {
        padding-top: 20px;
    }
    .section2 .container{
        gap: 8px;
    }
    .section2 h1 , .section3 h2{
        font-size: 1.5rem;
    }
    .section2 p{
        line-height: 10px;
        font-size: .6rem;
        margin-top: 6px;
    }
    .section2-img{
        width: 100%;
    }
    .section2-frame{
        width: 50%;
    }
    .section2 ul{
        font-size: .6rem;
        gap: 5px;
        margin-top: 9px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .section2-img{
        width: 100%;
    }
    .section2-frame{
        width: 50%;
    }
}
                                  /* section 3 */

.section3{
    background-image: url(./pics/8116\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    height: 70%;
    color: white;
}
.section3 .container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 147px;
}
.section3  h2 , .section4 h2 , .section7-header h2{
    font-size: 2.625rem;
    font-weight: 600;
}
.section3 p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
}
.section3 .container button{
    transition: .3s ease;
}
@media (max-width: 768px){
    .section3 .container button{
        width: 22%;
        height: 18px;
        font-size: 7px;
    }
    .section3 h2{
      font-size: 1rem;
    }
    .section3 p{
        font-size: .6rem;
    }
    .section3 .container{
        padding-top: 5%;
        gap: 16px;
        padding-top: 10px;
    }
    .section3{
        height: auto;
        margin-top: 37px;
        padding-bottom: 10%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .section3 .container{
        padding-top: 40px;
        gap: 16px;
    }
    .section3{
        height: 58%;
    }
}
                                       /* section 4 */
.section4 .container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 80px;
    text-align: center;
}
.section4 .container h1{
    margin-bottom: -20px;
}
.section4-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
}
.section4-cards-content{
    margin-top:20px ;
    text-align: left;
    padding-left: 4%;
}
.section4-cards-content h2{
    font-size: 1.25rem;
    font-weight: 600;
}
.section4-card{
    box-shadow:  0px 0px 10px 2px #88888816;
}
.section4-card img{
    width: 100%;
}
.section4 .view-link{
    margin: 30px 0;
}
@media (max-width: 768px){
    .section4 p {
        line-height: 20px;
        font-size: .8rem;
    }
    .section4-cards-content p{
        margin-bottom: 20px;
    }

}
.view-link{
    color: hsl(165, 48%, 45%);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: .2s ease;
    
}
.view-link:hover{
    color: hsla(165, 48%, 45%, 0.596);
    gap:10%;
}

                                        /* section 5 */
.section5{
    background-image: url(./pics/8116\ 1\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section5 .section5-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 80px;
    text-align: center;
    color: white;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: inset 0 0 0 200px rgba(3, 0, 0, 0.548);
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 12px;
    padding: 44px 44px;
}
.section5 .section5-container h1{
    font-size: 2.625rem;
    font-weight: 600;
}
.section5 .section5-container p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
}

@media (max-width: 768px){
    .section5 .section5-container h1{
        font-size: 1rem;
    }
    .section5 .section5-container p{
        font-size: 0.7rem;
        line-height: 17px;
    }


}
                                     /* section 6 */           
.section6{
    background-color: #fffbf3;
    padding-top: 70px;
    padding-bottom: 80px;
}
.section6 .container{
    display: flex;
    gap: 32px;
}
.section6-side-content h2{
    font-size: 2.625rem;
    font-weight: 600;
    margin-bottom: 10px;
    white-space: nowrap;
}   
.section6-side-content p{
    color: #475467;
    margin-top: 24px;
    line-height: 25px;
    font-size: 1.225rem;
    font-weight: 400;
    text-wrap: nowrap;
}

.section6-cards-container{
    display: flex;
    gap: 32px;
}
.section6-cards{
    background-color: #f5f7ee;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #3CAB90;
    border-radius: 12px;
    margin-bottom: 8%;
    box-shadow:  0px 0px 10px 2px #88888816;
}
.section6-cards p { 
    color: #475467;
    margin-bottom: 20px;
    line-height: 24px;
    font-size: 1rem;
    font-weight: 400;
    
}
.section6-cards h2{
    font-size: 1.3rem;
    font-weight: 600;
    color: #101828;
    margin-top: 32px;
    line-height: 30px;
}   
.section6-card-imgs-container{
    background-color: #d9ecdf;
    height: 106px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section6-card-imgs{
    mix-blend-mode: luminosity;
}

@media (max-width: 768px){
    .section6 .container{
       flex-direction: column;
    }
    .section6-side-content h2{
        font-size: 1.625rem;
    }
    .section6-side-content p{
        font-size: .625rem;
        line-height: 15px;
        margin-bottom: 10px;
    }
    .section6-cards h2 {
        font-size: 1rem;
        line-height: 17px;
        margin-top: 1px;
    }
    .section6-card-imgs-container p {
        font-size: .7rem;
        line-height: 14px;
        margin-bottom: 10px;
    }
    .section6-card-imgs {
        width: 100%;
    }
    .section6-card-imgs-container .view-link{
        font-size: 13px;
    }
    .section6-card-imgs-container {
        height: 70px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .section6 .container{
        flex-direction: column;
     }
     .section6-side-content p{
        margin-bottom: 15px;
    }
    .section6-cards h2 {
        font-size: 1.6rem;
        line-height: 25px;
        margin-top: 1px;
    }
    .section6-card-imgs-container {
        height: 90px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .section6 .container{
        flex-direction: column;
     }
     .section6-side-content p{
        margin-bottom: 15px;
        font-size: 1.25rem;
    }
    .section6-cards h2 {
        font-size: 2rem;
        line-height: 34px;
        margin-top: 1px;
    }
    .section6-card-imgs-container {
        height: 90px;
    }
}
                                        /* section 7 */
.section7{
margin-top: 100px;
}
.section7-header{
    text-align: center;
}
.section7-header p {
    font-size: 1.125rem;
    font-weight: 400;
    color: #475467;
    margin-top: 28px;
    margin-bottom: 32px;
}
.section7-cards-container{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}
.section7-cards h2{
    margin-top:20px ;
    margin-bottom: 20px;
    font-size: 1.25rem;
}
.section7-cards p{
    line-height: 25px;
    color: #475467;
    min-width: auto;
    max-width: 295px;
}
.section7-cards{
    background-color: #f5fbf9;
    padding: 30px;
    border: 1px solid #3CAB90;
    border-radius: 12px;
  
}

                                            /* section 8 */
.section8 .container{
    display: flex;
    margin-top: 140px;
    gap: 80px;
    margin-bottom: 6%;
}
.section8-left-side{
   padding-top: 10%;
}

.section8-left-side h2{
    margin-top: 28px;
    margin-bottom:28px ;
    font-size: 3rem;
    font-weight: bold;
    color: #1C1C1C;
    text-wrap: nowrap;
}
.section8-left-side p{
    text-wrap: nowrap;
    line-height: 30px;
    font-size: 1.125rem;
}
.section8-right-card{
    background-color: #f4faf9;
    border-radius: 24px;
    padding: 40px;
    height: 91%;
    position: relative;
}
.dots{
    position: absolute;
    top: 8%;
    right: 5%;
    gap: 8px;
    display: flex;
}
.dot {
    height: 8px;
    width: 8px;
    background-color: #bbb;
    border-radius: 50px;
  }
  #first-dot{
    background-color: #6B6B6B;
  }
  .section8-arrows{
    position: absolute;
    right: 3%;
    bottom: 8%;
    padding-right: 5%;
    display: flex;
    gap: 16px;
  }
  .section8-arrows img{
    width: 60%;
    cursor: pointer;
  }
.section8-right-card h4{
    color: #3CAB90;

}
.section8-right-card p{
    color: #101828;
    font-size: 1.4rem;
    margin-top: 52px;
    margin-bottom: 87px;
    max-width: 80%;
    line-height: 35px;
    font-weight: 500;
}
.designer-info-container{
    display: flex;
    gap: 14px;
}
.designer-photo{
    width: 60px;
    height: 60px;
}
.designer-info p{
    font-size: 1rem;
    margin: 0;
    text-wrap: nowrap;
    margin-top: 7px;
}
.designer-info h4{
    color: #1C1C1C;
    font-size: 1.3rem; 
    
}
@media (max-width: 768px){
    .section8-left-side h2{
        font-size: .7rem;
        margin-top: 9px;
        margin-bottom: 8px;
    }
    .section8 .container{
        margin-top: 47px;
        margin-bottom: 30px;
    }
    .section8-left-side{
        margin-bottom: 15px;
    }
    .section8-left-side p{
        font-size: .3rem;
        line-height: 8px;
    }
    .section8-left-side img{
        width: 30%;
    }
    .section8-right-card p{
        font-size: 0.4rem;
        margin-top: 4px;
        margin-bottom: 10px;
        line-height: 13px;
     }
        .dots span{
         height: 4px;
         width: 4px;
    }
    .designer-info-container img {
         width: 30%;
         height: 30%;
    }
  .section8-arrows img {
         width: 13%;
    }
  .section8-arrows {
         right: 1%;
         gap: 8px;
    }
  .section8-right-card h4{
         font-size: .5rem;
    }
.designer-info-container img{
          width: 40px;
          height: 40px;
    }  

.section8-right-card{
          padding: 10px;
    }
.section8 .container{
          gap: 30px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .section8-right-card p{
        font-size: 0.7rem;
        margin-top: 4px;
        margin-bottom: 10px;
        line-height: 16px;
     }
     .dots span{
        height: 4px;
        width: 4px;
     }
    .designer-info-container img {
        width: 20%;
        height: 20%;
   }
    .designer-info-container p {
        font-size: 9px;
   }
    .section8-arrows img {
        width: 13%;
   }
    .section8-arrows {
        right: -21%;
        gap: 8px;
   }
     .section8-right-card h4{
        font-size: .7rem;
    }

     .section8-left-side p{
         font-size: .7rem;
         line-height: 15px;
    }
     .section8-left-side h2{
        font-size: 1.9rem;
         line-height: 30px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .section8-arrows {
        right: -12%;
        gap: 8px;
   }
   .section8-arrows img {
    width: 30%;
}
    }
                                        /* footer  */
.footer{
    background-color: #283646;
    padding-top: 4%;
    padding-bottom: 5%;

}
.upper-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.footer-left-side{
    margin-bottom: 48px;
}
.footer-left-side img{
    mix-blend-mode: luminosity;
    width: 58%;
    height: 20%;
}
.footer-links{
    margin-top: 38px;
    display: flex;
}
.footer-links li{
    margin-right: 14%;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    text-wrap: nowrap;
    cursor: pointer;
    transition: .3s ease;
}
.footer-links li:hover{
    color: lightblue;
}
.footer-input{
    border: 2px solid hsla(206, 16%, 80%, 0.479);
    border-radius: 38px;
    padding: 3% 170px 3% 20px;
    background-color: hsla(0, 0%, 100%, 0.097);
    color: #92989F;
    margin-top: 10px;
    font-size: 1.125rem;
}
.footer-right-side p{
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
}
.sub-button{
    position: absolute;
    color: white;
    top: 17%; 
    right: 0; 
    cursor: pointer; 
    height: 49px;
    transition: .3s ease;
    width: 40%;
}
.footer-input-contanier{
    position: relative;
    
}
.lower-footer{
    margin-top: 54px;
    color: white;
    display: flex;
    justify-content: space-between;
    color: #92989F;
}
.lower-footer .menu ul , .copyright{
    display: flex;
    gap: 20px;
    font-size: 12px;
}

@media (max-width: 768px){

       .footer-links li {
          font-size: .4rem;

        }
        .footer-input {
            padding: 3% 15px 3% 10px;
            margin-top: 10px;
            font-size: .425rem;
          }
          .sub-button{
            font-size: .3rem;
            height: 20px;
            width: 40%;
            top: 32%;
          }
          .footer-right-side p{
            font-size: .5rem;
          }
          .lower-footer .menu ul, .copyright{
            font-size: .3rem;
            gap: 6px;
          }
}
@media (min-width: 768px) and (max-width: 991px){
        
       .footer-links li {
        font-size: .8rem;

      }
      .footer-input {
        padding: 5% 50px 5% 20px;
        margin-top: 10px;
        font-size: .825rem;
      }
      .sub-button{
        font-size: .8rem;
        height: 42px;
        width: 40%;
        top: 22%;
      }
      .lower-footer .menu ul, .copyright{
        font-size: .7rem;
        gap: 6px;
      }
}
@media (min-width: 992px) and (max-width: 1199px){
    .footer-input {
        padding: 5% 50px 5% 20px;
        margin-top: 10px;
        font-size: .825rem;
      }
      .sub-button{
        font-size: .8rem;
        height: 42px;
        width: 40%;
        top: 22%;
      }
    }
/* .xs */
@media (max-width: 768px){

    }   
 @media(max-width:447px){
        .footer-right-side{
            margin-bottom: -100px;
        }
        
}
@media (max-width: 630px){
    .section4-cards-content{
        padding-left: 135px;
    }
}
@media (max-width: 502px){
    .section4-cards-content{
        padding-left: 53px;
    }
    .section6-cards p {
        font-size: .4rem;
        line-height: 10px;
        margin-bottom: 10px;
    }
    .section6-cards h2{
        font-size: .6rem;
        line-height: 10px;
    }
    .section6-cards .view-link{
        font-size: 8px;
    }
    .section6-cards {
        padding: 11px;
    }
    
}

